name: Java CI with Maven and PostgreSQL

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: safety_db
          POSTGRES_USER: piloto
          POSTGRES_PASSWORD: seguranca
        ports:
          - 5433:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test with Maven
        env:
          # Sincronizado com o seu application.properties e o service acima
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5433/safety_db
          SPRING_DATASOURCE_USERNAME: piloto
          SPRING_DATASOURCE_PASSWORD: seguranca
        run: mvn -B package --file pom.xml